<app-header></app-header>
<!-- component -->
<div class="flex justify-center items-center w-screen h-screen bg-white mt-5">
	<!-- COMPONENT CODE -->
	<div class="container mx-auto my-1 px-4 lg:px-20 mt-5">

		<div class="w-full p-8 my-1 md:px-12 lg:w-9/12 lg:pl-20 lg:pr-40 mr-auto rounded-2xl shadow-2xl mt-5">
			<div class="flex">
				<h4 class="font-bold uppercase text-3xl ">Envoyer votre message</h4>
			</div>
			<div class="grid grid-cols-1 gap-5 md:grid-cols-2 mt-5">
				<input class="w-full bg-gray-100 text-gray-900 mt-2 p-3 rounded-lg focus:outline-none focus:shadow-outline"
            type="text" placeholder="Prenom*" />
				<input class="w-full bg-gray-100 text-gray-900 mt-2 p-3 rounded-lg focus:outline-none focus:shadow-outline"
            type="text" placeholder="Nom*" />
				<input class="w-full bg-gray-100 text-gray-900 mt-2 p-3 rounded-lg focus:outline-none focus:shadow-outline"
            type="email" placeholder="Email*" />
				<input class="w-full bg-gray-100 text-gray-900 mt-2 p-3 rounded-lg focus:outline-none focus:shadow-outline"
            type="phone" placeholder="Telephone*" />
			</div>
			<div class="my-4">
				<textarea placeholder="Message*" class="w-full h-32 bg-gray-100 text-gray-900 mt-2 p-3 rounded-lg focus:outline-none focus:shadow-outline"></textarea>
			</div>
			<div class="my-2 w-1/2 lg:w-1/4">
				<button class="uppercase text-sm font-bold tracking-wide text-gray-100 p-3 rounded-lg w-full focus:outline-none focus:shadow-outline" style="background-color: #212934;" >
					Envoyer
				</button>
			</div>
		</div>

		<div class="w-full lg:-mt-96 lg:w-2/6 px-8 py-8 ml-auto rounded-2xl mb-5" style="background-color: #212934;">
			<div class="flex flex-col text-white gap-4">
				<h1 class="font-bold uppercase text-3xl">Contactez-nous</h1>
				<p class="text-gray-400 text-sm">Lorem ipsum dolor sit amet...</p>
		
				<div class="flex items-start gap-2 w-2/3 lg:w-1/2">
					<i class="fas fa-map-marker-alt pt-1"></i>
					<div>
						<h2 class="text-lg">Adresse mail</h2>
						<p class="text-gray-400 text-sm">ada.deco&#64;gmail.com</p>
					</div>
				</div>
		
				<div class="flex items-start gap-2 w-2/3 lg:w-1/2">
					<i class="fas fa-phone-alt pt-1"></i>
					<div>
						<h2 class="text-lg">Telephone</h2>
						<p class="text-gray-400 text-sm">Tel: 77 154-30-38</p>
					</div>
				</div>
		
				<div class="flex gap-2 w-2/3 lg:w-1/2">
					<a href="#" class="rounded-full h-8 w-8 inline-block text-center pt-1" style="background-color: #F77100;" >
						<i class="fab fa-facebook-f text-blue-900"></i>
					</a>
					<a href="#" class="rounded-full h-8 w-8 inline-block text-center pt-1" style="background-color: #F77100;" >
						<i class="fab fa-linkedin-in text-blue-900"></i>
					</a>
				</div>
			</div>
		</div>
		
	</div>
	<!-- COMPONENT CODE -->
</div>

<!-- BUY ME A PIZZA AND HELP SUPPORT OPEN-SOURCE RESOURCES -->
<div class="flex items-end justify-end  bottom-0 right-0 mb-4 mr-4">
	<div>
		<a title="Buy me a pizza" href="https://www.buymeacoffee.com/Dekartmc" target="_blank" class="block w-16 h-16 rounded-full transition-all shadow hover:shadow-lg transform hover:scale-110 hover:rotate-12">
			<img class="object-cover object-center w-full h-full rounded-full" src="https://img.icons8.com/emoji/48/000000/pizza-emoji.png" />
		</a>
	</div>
</div>
<app-footer></app-footer>