<div class="sidebar">
    <div class="sidebar-brand">
        <h2><span class=""></span><img src=".\assets\image\ada.PNG" alt=""></h2>
    </div>

    <div class="sidebar-menu">
        <ul>
            <li class="accueil mt-5">
                <a routerlink="/acceueildashbord" class="active"><span class="fa fa-home"></span><span>Accueil</span></a>
            </li>
            <li>
                <a routerlink="/gestion-stock"><span class="fa fa-tasks"></span><span>Gestion Stock</span></a>
            </li>
            <li>
                <a routerlink="/gestion-commandes"><span class="fa fa-th-large"></span><span>Gestion Commandes</span></a>
            </li>
            <li>
                <a routerlink="/gestion-commentaires"><span class="fa fa-line-chart"></span><span>Gestion Commentaires</span></a>
            </li>
            <div class="logout  ms-3" style="margin-top: 50%;">
                <a class="logout">
                  <i class="fa-solid fa-right-from-bracket"></i>&nbsp;Deconnexion
              </a>
              </div>
        </ul>
    </div>
</div>